@model TaxTime4.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                @Html.DisplayFor(model => model.CustId)
                <input asp-for="CustId" value="@Model.CustId" class="form-control" />
                <span asp-validation-for="CustId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Home1" class="control-label">Home #</label>
                <div class="input-group">
                    <input asp-for="Home1" maxlength="3" style="width: 60px;" class="form-control" />
                    <span asp-validation-for="Home1" class="text-danger"></span>
                    <input asp-for="Home2" maxlength="3" style="width: 60px" class="form-control" />
                    <span asp-validation-for="Home2" class="text-danger"></span>
                    <input asp-for="Home3" maxlength="4" style="width: 70px;" class="form-control" />
                    <span asp-validation-for="Home3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cell1" class="control-label">Cell #</label>
                <div class="input-group">
                    <input asp-for="Cell1" maxlength="3" style="width: 60px;" class="form-control" />
                    <span asp-validation-for="Cell1" class="text-danger"></span>
                    <input asp-for="Cell2" maxlength="3" style="width: 60px;" class="form-control" />
                    <span asp-validation-for="Cell2" class="text-danger"></span>
                    <input asp-for="Cell3" maxlength="4" style="width: 70px;" class="form-control" />
                    <span asp-validation-for="Cell3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Work1" class="control-label">Work #</label>
                <div class="input-group">
                    <input asp-for="Work1" maxlength="3" style="width: 60px;" class="form-control" />
                    <span asp-validation-for="Work1" class="text-danger"></span>
                    <input asp-for="Work2" maxlength="3" style="width: 60px;" class="form-control" />
                    <span asp-validation-for="Work2" class="text-danger"></span>
                    <input asp-for="Work3" maxlength="4" style="width:70px;" class="form-control" />
                    <span asp-validation-for="Work3" class="text-danger"></span>
                </div>
            </div>>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.CheckBox)
            </div>
            <div class="form-group">
                <input asp-for="CheckBox"  type="checkbox" class="form-control" />
                <label>Depenents?</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
